<section id="about">
  <div class="container">
    <div class="about-content">
      <div class="about-text">
        <h2>About Me</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores velit
          deserunt similique quam esse maiores vero laudantium doloribus
          dignissimos necessitatibus? Aliquam natus officiis consectetur cum
          expedita. Odio voluptatibus adipisci sit?
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias
          voluptas nemo nihil voluptates aliquid! Iusto, saepe autem nemo
          adipisci asperiores minus officiis tenetur repudiandae, repellat
          dolore voluptatem natus pariatur? Voluptatibus?
        </p>
        <h3>Personal Info</h3>
        <ul>
          <li><strong>Phone:</strong> +123 456 7890</li>
          <li><strong>Email:</strong> example.mail.com</li>
          <li><strong>Location:</strong> Hong Kong, China</li>
          <li><strong>Date of Birth:</strong> May 27, 1990</li>
        </ul>
      </div>
      <div class="about-skills">
        <h3>What I Do!</h3>
        <ul>
          <li>UI/UX Design</li>
          <li>Photography</li>
          <li>App Development</li>
          <li>Web Development</li>
        </ul>
      </div>
    </div>
  </div>
</section>
