body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("assets/aesthetic-background-with-white-smoke.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional: Keeps the background image fixed while the rest of the content scrolls */
  background-color: antiquewhite; /* Fallback color */
}
